<a href="https://colab.research.google.com/github/mohitraghav007/ineuroneassignment1/blob/main/15th_Oct_Live_Class_Python_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
A = [12,3,4,5,2.3,56.9,"mohit","raghav"]
for element in A:
  print( element)

12
3
4
5
2.3
56.9
mohit
raghav

In [ ]:
A = [12,3,4,5,2.3,56.9,"mohit","raghav"]
for i in range(len(A)):
  print(A[i])

12
3
4
5
2.3
56.9
mohit
raghav

In [ ]:
for i in range(len(A)):
  print(f"value={A[i]}, datatype = {type(A[i])}")

value=12, datatype = <class 'int'>
value=3, datatype = <class 'int'>
value=4, datatype = <class 'int'>
value=5, datatype = <class 'int'>
value=2.3, datatype = <class 'float'>
value=56.9, datatype = <class 'float'>
value=mohit, datatype = <class 'str'>
value=raghav, datatype = <class 'str'>

In [ ]:
list_of_item_to_purchase = list()
for i in range(10):
  user_input = input("enter the item that you want to purchase: ")
  list_of_item_to_purchase = list_of_item_to_purchase + [user_input]
print(list_of_item_to_purchase)

enter the item that you want to purchase: pen
enter the item that you want to purchase: bulb
enter the item that you want to purchase: hockey
enter the item that you want to purchase: bat
enter the item that you want to purchase: ball
enter the item that you want to purchase: cricket kit
enter the item that you want to purchase: nudels
enter the item that you want to purchase: kjdbbfdjb
enter the item that you want to purchase: jfnijebf
enter the item that you want to purchase: somethikng
['pen', 'bulb', 'hockey', 'bat', 'ball', 'cricket kit', 'nudels', 'kjdbbfdjb', 'jfnijebf', 'somethikng ']

In [ ]:
item_to_purchase = list()
N = int(input(" no of item you want to purchase: "))
i = 0
while i < N:
    user_input = input("no of item you want to purchase: ")
    item_to_purchase  = item_to_purchase + [user_input]
    print(f" current list: {item_to_purchase}")
    i = i + 1
print(item_to_purchase)

 no of item you want to purchase: 6
no of item you want to purchase: pen
 current list: ['pen']
no of item you want to purchase: ball
 current list: ['pen', 'ball']
no of item you want to purchase: bat
 current list: ['pen', 'ball', 'bat ']
no of item you want to purchase: cat
 current list: ['pen', 'ball', 'bat ', 'cat ']
no of item you want to purchase: og
 current list: ['pen', 'ball', 'bat ', 'cat ', 'og']
no of item you want to purchase: house
 current list: ['pen', 'ball', 'bat ', 'cat ', 'og', 'house']
['pen', 'ball', 'bat ', 'cat ', 'og', 'house']

In [ ]:
string_example = ["Mohit","Raghav","sumit","sharma"]
max_len = 0
result = ""
for example in string_example:
  print(example,len(example))
  if len(example) > max_len:
    max_len = len(example)
    rsult = example
print(f"result:max_len:{max_len} name:{result}")

Mohit 5
Raghav 6
sumit 5
sharma 6
result:max_len:6 name:

# even no. and odd no.

In [ ]:
A = [1,34,56,76,99]
for idx in range(len(A)):
  number = A[idx]
  print(idx,number)
  if number % 2 != 0:
    print(f'odd num:{number}')
  else:
    print(f"even num:{number}")

0 1
odd num:1
1 34
even num:34
2 56
even num:56
3 76
even num:76
4 99
odd num:99