<a href="https://colab.research.google.com/github/mohitraghav007/ineuroneassignment1/blob/main/assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q1. Find the largest number from the given list, use for loop.

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for number in numbers:
  if number > largest_number:
    largest_number = number
print(largest_number)

525

# Q2. Print all the even number between (1, 12).

In [ ]:
list_number = [1,2,3,4,5,6,7,8,9,10,11,12]
for number in list_number:
  if number % 2  == 0:
     print(f"even number is:{number}")

even number is:2
even number is:4
even number is:6
even number is:8
even number is:10
even number is:12

# Q3. Calculate the sum of all numbers from 1 to a given number

Expected Output:

Enter number 10

Sum is:  55

In [ ]:
number = int(input(f" input number is: "))
a = 45
sum = a + number
print(f" sum is: {sum}")

 input number is: 10
 sum is: 55

# Q4.  Write a program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five

If the number is greater than 150, then skip it and move to the next number

If the number is greater than 500, then stop the loop

# Given:

numbers = [12, 75, 150, 180, 145, 525, 50]

In [ ]:
list = [12, 75, 150, 180, 145, 525, 50]
for number in list:
  if number % 5 == 0:
    if number > 150:
      if number > 500:
         break
print(f" number is:{number} ")

 number is:525

# Q5. Print the given list in reverse order.
list1 = [10, 20, 30, 40, 50]

In [ ]:
list1 = [10, 20, 30, 40, 50]
list1[::-1]

[50, 40, 30, 20, 10]