<a href="https://colab.research.google.com/github/mohitraghav007/ineuroneassignment1/blob/main/rough_work_2%2C3_nd_nov.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. ***Updating list element at specific index***

In [ ]:
list  = [1,2,3,4,5.6,6.8,9.6,'mohit','raghav','rahul',(1+2j)]

In [ ]:

len(list)

11

In [ ]:
list[6]

9.6

In [ ]:

list[6] = 10

In [ ]:
list

[1, 2, 3, 4, 5.6, 6.8, 10, 'mohit', 'raghav', 'rahul', (1+2j)]

In [ ]:
list[6]

10

# We can also use "+" to concatenate lists, just like we did for Strings.

In [ ]:
my_list = list + ['new item ',6]

In [ ]:
my_list

[1, 2, 3, 4, 5.6, 6.8, 10, 'mohit', 'raghav', 'rahul', (1+2j), 'new item ', 6]

In [ ]:
my_list*2

[1,
 2,
 3,
 4,
 5.6,
 6.8,
 10,
 'mohit',
 'raghav',
 'rahul',
 (1+2j),
 'new item ',
 6,
 1,
 2,
 3,
 4,
 5.6,
 6.8,
 10,
 'mohit',
 'raghav',
 'rahul',
 (1+2j),
 'new item ',
 6]

In [ ]:
my_list*(-1)

[]

In [ ]:
my_purchase_list = []

In [ ]:
N = int(input("how many items do you want: "))
for i in range(0,N):
  user_input = input("enter the item that you want to purchase:  ")
  my_purchase_list.append(user_input)
print(my_purchase_list)

how many items do you want: 5
enter the item that you want to purchase:  shirt
enter the item that you want to purchase:  ball
enter the item that you want to purchase:  box
enter the item that you want to purchase:  toothbrush
enter the item that you want to purchase:  creem
['shirt', 'ball', 'box', 'toothbrush', 'creem']

In [ ]:
my_list = []
N = int(input(f"how many items do you want: "))
i = 0
while i<N:
  purchase_items = input(f"enter the item that you want to purchase: ")
  i = i + 1
  my_list.append(purchase_items)
  print(my_list)

how many items do you want: 4
enter the item that you want to purchase: shirt
['shirt']
enter the item that you want to purchase: bag
['shirt', 'bag']
enter the item that you want to purchase: ball
['shirt', 'bag', 'ball']
enter the item that you want to purchase: knife
['shirt', 'bag', 'ball', 'knife']

In [ ]:
list_2 = ['pen', 'bulb', 'knife', 'Phone cover']
if 'mobile' in list_2:
  print("yes")
else:
  print(" 'no', adding into the list ")
  list_2 = list_2 + ['mobile']

 'no', adding into the list

In [ ]:
list_2

['pen', 'bulb', 'knife', 'Phone cover', 'mobile']

In [ ]:
if 'shirt' not in list_2:
  print(' add this one ?')
  list_2 = list_2 + ['shirt']
list_2

['pen', 'bulb', 'knife', 'Phone cover', 'mobile', 'shirt']

In [ ]:
string_example = ["bhaveen", "abhishek", "dew", "chalie", "Doctor"]
max(string_example)

'dew'

In [ ]:
min(string_example)

'Doctor'

In [ ]:
# # print the name with highest no of character -

In [ ]:
string_example

['bhaveen', 'abhishek', 'dew', 'chalie', 'Doctor']

In [ ]:
max_len = 0
result = ' '
for i in string_example:
  print(i,len(i))
  if len(i) > max_len:
    max_len = len(i)
    result = i
print(f"output: max_len: {max_len} name: {result}")

bhaveen 7
abhishek 8
dew 3
chalie 6
Doctor 6
output: max_len: 8 name: abhishek

In [ ]:
string_example

['bhaveen', 'abhishek', 'dew', 'chalie', 'Doctor']

In [ ]:
max_len1 = 0
result = ' '

In [ ]:
for i in string_example:
  print(i,len(i)) 
  if len(i)>max_len1:
    max_len1 = len(i)
    result = i
print(f"output:max_len:{max_len1},name:{result}")

TypeError: ignored

In [ ]:
max_len1 = 0
result1 =''
for i in string_example:
  print(i,len(i))
  if len(i)> max_len1:
    max_len1 = len(i)
    result = i
print(f"OUTPUT:max_len:{max_len1}, name:{result}")

bhaveen 7
abhishek 8
dew 3
chalie 6
Doctor 6
OUTPUT:max_len:8, name:abhishek

In [ ]:
A = [1, 34, 56, 76, 99]
for i in range(len(A)):
  print(i,A[i])
  if A[i] % 2 == 0:
    print(f" even number: {A[i]}")
  else:
    print(f" odd number: {A[i]}")

0 1
 odd number: 1
1 34
 even number: 34
2 56
 even number: 56
3 76
 even number: 76
4 99
 odd number: 99

In [ ]:
A = [1,45, 67, 98, -34]
A[::-1]

[-34, 98, 67, 45, 1]

In [ ]:
A.sort(reverse=True)

In [ ]:
A

[98, 67, 45, 1, -34]

In [ ]:
# Nested for loop without list comprehention
matrix = []
for i in range(3):
  matrix.append([])
  for j in range(3):
    matrix[i].append(j)
matrix

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
matrix = []
for i in range(3):
  matrix.append([])
  for j in range(3):
    matrix[i].append(j)

In [ ]:
matrix

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
# difference between two sets
x = {"ineuron", "DS", "Bigdata"}
y = {"bigdata", "Apache", "pyspark"}
print(x.difference(y))
print(y.difference(x))

{'ineuron', 'DS', 'Bigdata'}
{'Apache', 'bigdata', 'pyspark'}

In [ ]:
# dict.fromkeys(keys,values)
d = {}
keys = ('name','school','weather')
values = "good"
d = d.fromkeys(keys,values)

In [ ]:
d

{'name': 'good', 'school': 'good', 'weather': 'good'}

In [ ]:
d.items()

dict_items([('name', 'good'), ('school', 'good'), ('weather', 'good')])

# **1.Dictionary Comprehensions**

In [ ]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [64]:
country_code = {
    "India": "IN",
    "Canada": "CA",
    "Chile": "CL",
    "Fiji": "FJ",
    "United states": "US"
}
"India" in country_code

True

In [65]:
for countries in country_code:
  if (len(countries) >= 4 and len(countries) < 6):
    print(f"length of :{countries}, greater than and is equal to four but less than six")
  else:
    print(f"length of contries:{countries}, less than four")

TypeError: ignored

In [66]:
for countries in country_code:
    if len(countries) > 4:
        print("length of ",countries," is greater than three." )
    elif (len(countries) >= 4 and len(countries) < 6):
        print("length of ",countries," is less than six but greater than three." )
    else:
        print("length of ",countries," is less than three." )

TypeError: ignored